<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>登陆用户</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.min.css">

	<style type="text/css">
    #loginform {
        width: 290px;
        height: 290px;
        float: left;
        position: relative;
    }
	</style>
</head>
<body>
	<div>
		<div id="loginform">
			<!-- 登陆界面 -->
			<div class="form-group" id="login-box">
				<form class="login-form" action="" method="post">
					<h3>欢迎登陆聊天室</h3>
					<div class="form-group">
						<label class="control-label col-md-3 input-text">账号</label>
						<div class="col-md-9">
							<input type="text" class="form-control" id="loginname" name="loginname" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 input-text">密码</label>
						<div class="col-md-9">
							<input type="password" class="form-control" id="loginpwd" name="loginpwd" />
						</div>
						<div class="btn-pane">
							<button class="btn btn-warning" id="reg-btn" type="button">注册</button>
							<button class="btn btn-success" id="login" type="button" data-loading-text="正在登陆..." data-complete-text="登陆成功!">登陆</button>
						</div>
					</div>
				</form>
			</div>

			<!-- 注册界面 -->
			<div class="form-group hide" id="reg-box">
				<form class="form-horizontal reg-form" action="" method="post">
					<div class="form-group">
						<label class="control-label col-md-3 input-text">用户名:</label>
						<div class="col-md-9">
							<input type="text" class="form-control" id="regname" name="registername" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 input-text">密码:</label>
						<div class="col-md-9">
							<input type="password" class="form-control" id="regpwd" name="registerpwd" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 input-text">确认密码:</label>
						<div class="col-md-9">
							<input type="password" class="form-control" id="regcheckpwd" name="regcheckpwd" />
						</div>
					</div>
					<button class="btn btn-block" id="reg" type="button" disabled>注册</button>
				</form>
			</div>
		</div>
	</div>

<script src="/javascripts/jquery-2.0.3.min.js"></script>
<script src="/javascripts/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">
$(function() {
	// 注册用户
	$('#reg-btn').on('click', function() {
		$('#login-box').fadeOut('slow').addClass('hide');
		$('#reg-box').fadeIn('slow').removeClass('hide');
	});
	// 确认密码和密码必须一致
	$('#regcheckpwd').change(function() {
		if ($(this).val() != $('#regpwd').val()) {
			$('#reg').attr('disabled', true);
		} else {
			$('#reg').attr('disabled', false);
		}
	});
	// 注册用户
	$('#reg').on('click', function() {
		var formdata = $('.reg-form').serializeArray();
		$.post('/reg', formdata, function(rs) {
			if (rs.status) {
				location.href = "/chat?currentname=" + rs.registername;
			} else {
				alert(rs.data);
			}
		});
	});
	// 登陆用户
	$('#login').on('click', function() {
		var formdata = $('.login-form').serializeArray();
		$.post('/login', formdata, function(rs) {
			if (rs.status) {
				location.href = "/chat?currentname=" + rs.loginname;
			} else {
				alert(rs.data);
			}
		});
	});
});
</script>
</body>
</html>
