<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/build/react.js"></script>
    <script src="/javascripts/build/react-dom.js"></script>
    <script src="/javascripts/build/browser.min.js"></script>
    <script src="/javascripts/jquery-2.0.3.min.js"></script>
  </head>
  <body>
    <div id="loginForm" style="display:block"></div>
    <div id="registerForm" style="display:none"></div>

    <script type="text/babel" src="/scripts/login.js"></script>
    <script type="text/babel" src="/scripts/register.js"></script>
    <script type="text/label">

    </script>
  </body>
</html>
